<div class="schedule-detail-box">
    <div class="schedule-detail-header">
        <div>
            <span>
                {% if event.type == 'training' %}
                    Entrainement
                {% elseif event.type == 'meeting' %}
                    Reunion
                {% elseif event.type == 'tournament' %}
                    Tournoi
                {% elseif event.type == 'match' %}
                    Match officiel
                {% else %}
                    {{ event.type|capitalize }}
                {% endif %}
            </span>

            <h3>{{ event.title }}</h3>
            {% if event.tournamentFormat %}
                <p>Format: {{ event.tournamentFormat }}</p>
            {% endif %}
            <p>{{ event.description }}</p>
        </div>

        <div class="schedule-detail-date">
            <strong>{{ event.date ? event.date|date('d/m/Y') : 'TBD' }}</strong>
            <em>{{ event.time ?: 'TBD' }}</em>
        </div>
    </div>

    <div class="schedule-info-grid">
        <span>
            <strong>Date debut</strong>
            {{ event.date ? event.date|date('d/m/Y') : 'TBD' }}
        </span>

        <span>
            <strong>Heure debut</strong>
            {{ event.time ?: 'TBD' }}
        </span>

        <span>
            <strong>Date fin</strong>
            {{ event.date ? event.date|date('d/m/Y') : 'TBD' }}
        </span>

        <span>
            <strong>Participants</strong>
            {% if event.players|length %}
                {{ event.players|length }} joueur(s)
            {% else %}
                Staff / joueurs concernes
            {% endif %}
        </span>
    </div>

    {% if event.captain or event.players|length or event.substitutes|length %}
        <h4>Composition</h4>

        <div class="schedule-player-list">
            {% if event.captain %}
                <div class="schedule-player-row">
                    <span>{{ event.captain.pseudo }}</span>
                    <span>{{ event.captain.grade }}</span>
                    <span>Capitaine</span>
                    <span>-</span>
                    <span>-</span>
                </div>
            {% endif %}

            {% for player in event.players %}
                <div class="schedule-player-row">
                    <span>{{ player.pseudo }}</span>
                    <span>{{ player.grade }}</span>
                    <span>Titulaire</span>
                    <span>-</span>
                    <span>-</span>
                </div>
            {% endfor %}

            {% for substitute in event.substitutes %}
                <div class="schedule-player-row">
                    <span>{{ substitute.pseudo }}</span>
                    <span>{{ substitute.grade }}</span>
                    <span>Remplacant</span>
                    <span>-</span>
                    <span>-</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.matches|length %}
        <h4>Matchs du tournoi</h4>

        <div class="schedule-player-list">
            {% for match in event.matches %}
                <div class="schedule-player-row">
                    <span>{{ match.teamA ? match.teamA.name : 'TBA' }} vs {{ match.teamB ? match.teamB.name : 'TBA' }}</span>
                    <span>{{ match.playedAt ? match.playedAt|date('d/m/Y H:i') : 'TBD' }}</span>
                    <span>{{ match.mode }}</span>
                    <span>{{ match.score ?: 'A venir' }}</span>
                    <span>{{ match.result ?: '-' }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h4>Description</h4>

    <div class="schedule-detail-description">
        {{ event.description|nl2br }}
    </div>
</div>
